.card h4 {
  text-transform: none;
}

figcaption.numbered:before {
  text-transform: none;
}

.post-nav-item .meta-nav {
  text-transform: none;
}

.see-all {
  text-transform: none;
}

.initialism {
  text-transform: none;
}
